{% extends 'index.html' %}


{% block title %}
{{ user.username }}
{% endblock %}

{% block content %}
    {% if email_message %}
        <center>
            <p style="color: #ff6b70">{{ email_message }}</p>
        </center>
    {% endif %}
    <h1>{{ user.username }}</h1>

    {% if user.img %}

            <img src="{{ user.img.url }}" width="300" >


    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for form in update_form %}


        {{ form.label_tag }}
        {{ form }}
        <hr>
    {% endfor %}
        <input type="submit">
    </form>

{% endblock %}