{% extends 'index.html' %}

{% block title %}
    {{ test }}
{% endblock %}

{% block content %}

    {% if help_error %}
        <h4>{{ help_error }}</h4>
    {% endif %}

    {% for foo in test_compl %}
            <h4 style="color: green">{{ foo }}</h4><br>
        {% endfor %}

    {% if not test_compl %}

    {% if request.user.is_authenticated %}
        <h5>last try</h5>

        <h1 class="mt-5">
              Tets: <i>{{ test}}</i>
        </h1>


        <form action="" method="post">
            {% csrf_token %}
            {% for question in questions %}
                <h4>{{ question.question }}</h4>



                {% for  answ in answers %}
                    {% if answ.question == question %}
                        <div class="row">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="gridCheck" name="{{ question }}" value="{{ answ }}">
                            <label class="form-check-label" for="{{ answ }}">
                                {{ answ }}
                            </label>
                        </div>
                        </div>
                    {% endif %}

                {% endfor %}

                <hr>

                {% endfor %}

                <input type="submit">
            </form>
    {% endif %}


{% endif %}
{% endblock %}