{% extends 'index.html' %}

{% block title %}
Tests
{% endblock %}

{% block content %}

    <ul class="nav justify-content-center">
          <li class="nav-item">
                <a class="nav-link active" href="{% url 'mytests' %}">passed tests</a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="{% url 'tests' %}">data</a>
          </li>
    </ul>

    <center><h1>Tests :</h1></center>
    {% for test in tests %}
        <div class="card text-center" style="margin-top: 20px">
            <div class="card-header">
            {% for test_user in test_users %}
                {% if test_user.test.id == test.id %}
                    passed
                {% endif %}
            {% endfor %}

            </div>
            <div class="card-body">
                <h4 class="card-title">{{test.title}}</h4>
                <p class="card-text">{{test.description}}</p>
                <a href="{% url 'test_detail' id=test.id %}" class="btn btn-primary">View test</a>
            </div>
        <div class="card-footer text-muted">
        {{test.date}}
        </div>
        </div>
    {% endfor %}


{% endblock %}